DISCORD_TOKEN=MTQ1NTIwOTI5Njk2MTk5NDg5Mw.GZYNBY.me8WTWLcK8hzu18UIcBmSajYP0YqpGpDMmGMiE
DATABASE_URL=postgresql://stopslop_user:uyGOfn4SphsW9o8abvg2y41OvhenoKT0@dpg-d599d515pdvs73a8p0l0-a.frankfurt-postgres.render.com/stopslop
